---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Guzbytes">
  <h1>👋 Hey, I'm Guzbytes</h1>
  <p>Welcome to my cyber lab. Here I write about hacking, Linux, infosec and tools I build or break.</p>
  <p>Still under contruction.</p>
</Layout>