---
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <header class="header">
      <h1 class="site-title"><a href="/">GuzBytes</a></h1>
      <nav>
        <a href="/blogs" class="nav-link">Blogs</a>
      </nav>
    </header>

    <main class="main-content">
      <slot />
    </main>
  </body>
</html>
